<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        <meta charset="utf-8">
        {{- partial "seo_schema" . -}}
        <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Params.homeTitle | default .Site.Title }}{{ else }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}{{ end }}</title>
        {{- partial "head.html" . -}}
    </head>
    <body class="text-center">
        <main role="main" class="container">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "js.html" . -}}
    </body>
</html>
