<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ with .Site.Params.author.name }}{{ . }}{{ else }}{{ range .Site.Params.Author }}{{ . }}{{ end }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
{{- if in (slice "taxonomy" "term") .Kind }}
<meta name="robots" content="noindex,follow">
{{- end }}
<link rel="icon" href="/favicon.ico">

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ with .OutputFormats.Get "RSS" }}<link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}"/>{{ end }}

{{- /* Background: an image from assets/ (params.background, default images/bg.jpg), served as WebP in two sizes */ -}}
{{- with resources.Get (.Site.Params.background | default "images/bg.jpg") }}
    {{- $large := . -}}
    {{- $small := . -}}
    {{- if in (slice "jpeg" "png") .MediaType.SubType -}}
        {{- $large = .Process (cond (gt .Width 1920) "resize 1920x webp q75" "webp q75") -}}
        {{- $small = .Process (cond (gt .Width 960) "resize 960x webp q70" "webp q70") -}}
    {{- end }}
<style>:root{--sp-bg:url("{{ $large.RelPermalink }}");--sp-bg-small:url("{{ $small.RelPermalink }}")}</style>
{{- end }}

{{ $css := resources.Get "/css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{- with resources.Get "/css/custom.css" }}{{ with . | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{- end }}{{ end }}
